@import "tailwindcss";

@theme {
  --color-sk-gold: #D4AF37;
  --color-sk-navy: #0A192F;
}

body {
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  body, a, button {
    cursor: none !important;
  }
}
